**/.git
**/.gitignore
**/.vscode
node_modules/**
.vscode/**
.vscode-test/**
**/*.map
**/*.ts

# Exclude tests from the package
src/**/test/**
src/**/tests/**
dist/**/test/**
dist/**/tests/**
**/*.spec.*
**/*.test.*